<p-tree [value]="treeNodes" (onNodeExpand)="onNodeExpand($event)" [style]="{width: '350px'}" cdkDropList #nodes
    [cdkDropListEnterPredicate]="false">

    <ng-template let-node pTemplate="default">
        <div>
            <span>{{node.label | translate }}</span>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="picture">
        <div cdkDrag="showParts" [cdkDragData]="node.data">
            <img [src]="getImage(node.data.showPartImage)" height="100px"
                style="border-width: 1px; border-color: black; border-style: solid;">
        </div>
    </ng-template>


    <ng-template let-node pTemplate="DOCUMENTS">
        <span style="margin-right: 15px;">{{node.label | translate}}</span>
    </ng-template>
    <ng-template let-node pTemplate="DOCUMENTS_OPTIONS">
        <button pButton pRipple icon="pi pi-refresh" (click)="resetChildrenNodes(node.parent)"
            class="icon-button"></button>
        <button pButton pRipple icon="pi pi-plus" (click)="uploadDocument = true" class="icon-button"></button>
        <button pButton pRipple icon="pi pi-search" (click)="search(node.parent)" class="icon-button"></button>
    </ng-template>
    <ng-template let-node pTemplate="SEARCH_DOCUMENTS">
        <span style="margin-right: 10px;">{{node.label | translate}}:</span>
        <input #search_doc>
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success icon-button"
            (click)="searchDocs(search_doc.value)"></button>
    </ng-template>
    <ng-template let-node pTemplate="DOCUMENTS_AREA">
        <div>
            <span>{{node.label | translate }}</span>
        </div>
    </ng-template>

    <ng-template let-node pTemplate="IMAGE_SHOWS">
        <span style="margin-right: 15px;">{{node.label | translate}}</span>
    </ng-template>
    <ng-template let-node pTemplate="IMAGE_SHOWS_OPTIONS">
        <button pButton pRipple icon="pi pi-refresh" (click)="resetChildrenNodes(node.parent)"
            class="icon-button"></button>
        <button pButton pRipple icon="pi pi-plus" (click)="uploadImageShow = true" class="icon-button"></button>
        <button pButton pRipple icon="pi pi-search" (click)="search(node.parent)" class="icon-button"></button>
        <button pButton pRipple icon="pi pi-pencil" (click)="editImageShows = !editImageShows" class="icon-button"></button>
    </ng-template>
    <ng-template let-node pTemplate="SEARCH_IMAGE_SHOWS">
        <span style="margin-right: 10px;">{{node.label | translate}}:</span>
        <input #search_image_show>
        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success icon-button"
            (click)="searchImageShows(search_image_show.value)"></button>
    </ng-template>
    <ng-template let-node pTemplate="IMAGE_SHOWS_AREA">
        <div>
            <span>{{node.label | translate }}</span>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="IMAGE_SHOW">
        <div>
            <span>{{node.label | translate }}</span>
            <button pButton pRipple icon="pi pi-pencil" style="margin-left: 15px;" class="icon-button"
                (click)="editImageShow(node)" *ngIf="editImageShows"></button>
            <button pButton pRipple icon="pi pi-trash" style="margin-left: 0px;" class="icon-button"
                (click)="deleteImageShow(node)" *ngIf="editImageShows"></button>
        </div>
    </ng-template>

</p-tree>
<p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>
<app-upload-document [(displayDialog)]="uploadDocument" *ngIf="uploadDocument"></app-upload-document>
<app-upload-image-show [(displayDialog)]="uploadImageShow" *ngIf="uploadImageShow"></app-upload-image-show>