<div class="p-grid p-jc-center" *ngIf="visible">

    <div [style.height]="height + 'px'" style="width: 75%;" class="p-col-12 p-grid p-ai-center">
        <ng-container *ngFor="let station of stations; index as i;" >
            <div *ngIf="show(i)" class="p-col-12 p-text-center">
                <span class="heading">{{station.name}}</span>
                <iframe width="100%" height="270px" frameBorder="0" [src]="station.sanitizedUrl"></iframe>
            </div>
        </ng-container>
    </div>

</div>