<div style="margin: 15px;" class="p-grid" *ngIf="!loading" cdkDropListGroup>
    <div class="p-col-3">
        <app-image-list (showEdited)="onEditImageShow($event)" [reset]="reset"></app-image-list>
    </div>
    <div class="p-col-9">
        <div class="card" style="padding: 5px 15px;">
            <h2 style="text-align: center;">{{'image-show' | translate }}</h2>
            <div style="width:100%; text-align:center;">
                <div class="p-g-12">
                    <div class="p-g-1">
                        <label for="name">{{'image-show-name' | translate }}</label>
                    </div>
                    <div class="p-g-4">
                        <input pInputText id="name" [(ngModel)]="imageShow.name" required="true" style="width: 80%" />
                    </div>
                    <div class="p-g-1">
                        <label for="type">{{'area' | translate }}</label>
                    </div>
                    <div class="p-g-4">
                        <p-dropdown id="type" [options]="areas" [(ngModel)]="imageShow.area" required="true"
                            placeholder="Choose" appendTo="body" [style]="{'width':'80%'}">
                            <ng-template pTemplate="item" let-item>
                                {{item.value | translate}}
                            </ng-template>
                            <ng-template pTemplate="selectedItem" let-item>
                                {{item.value | translate}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <h4 style="margin-left: 15px;">{{'images' | translate}}:</h4>
            <div 
            id="imageShowParts"
            class="example-list"
            cdkDropList
            cdkDropListOrientation="horizontal" 
            (cdkDropListDropped)="onDrop($event)" 
            >
                <div 
                class="example-box" 
                *ngFor="let showPart of imageShow.showParts; index as i;" 
                cdkDrag
                cdkDropList
                [cdkDragData]="showPart"
                >
                    <div style="display: grid;">
                        <div [style]=" showPart.active? null:{opacity: 0.5}  ">
                            <img [src]="getImage(showPart.showPartImage)" height="200px"
                                style="border-width: 1px; border-color: black; border-style: solid;">
                        </div>
                        <div style="text-align: center; margin-top: 5px; justify-content: space-evenly; display: flex;">
                            <!-- <button pButton pRipple type="button" icon="pi pi-search"
                                (click)="removeShowPart(i)"></button> -->
                                
                            <button *ngIf="!showPart.active" pRipple type="button" icon="pi pi-eye-slash"
                            class="p-button-rounded" style="background: orange;" (click)="showHide(showPart)"></button>
                            <button *ngIf="showPart.active" pButton pRipple type="button" icon="pi pi-eye"
                            class="p-button-rounded" style=" background: rgb(64, 255, 47);" (click)="showHide(showPart)"></button>
                            <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded"  style="background: red; float: left;" (click)="removeShowPart(i)"></button>
                        </div>

                    </div>
                </div>
               
            </div>
            <div style="display: flex; justify-content: space-evenly; padding:15px;">
                <div style="display: flex; width: 15%; justify-content: space-evenly; align-content: center;"
                    *ngIf="monitorUsingShow.length > 0">
                    <div>{{'update-monitors' | translate}}: </div>
                    <p-toggleButton [(ngModel)]="updateMonitors" onLabel="{{ 'yes' | translate}}"
                        offLabel="{{ 'no' | translate}}"></p-toggleButton>
                </div>
                <button label="{{ 'save' | translate}}" pButton pRipple type="button" icon="pi pi-check"
                    style="background: green;  " (click)="save()"></button>
                <button label="{{ 'delete' | translate}}" pButton pRipple type="button" icon="pi pi-check"
                    style="background: red;  margin-left: 15%;" (click)="delete()" *ngIf="id != 'new'"></button>
            </div>

        </div>

    </div>
</div>