<div style="margin: 15px;" class="p-grid" *ngIf="!loading" cdkDropListGroup>
    <div class="p-col-3">
        <app-image-list (onEditImageShow)="onEditImageShow($event)" [reset]="reset"></app-image-list>
    </div>
    <div class="p-col-9">
        <div class="card" style="padding: 5px 15px;">
            <h2 style="text-align: center;">{{'image-show' | translate }}</h2>
            <div style="width:100%; text-align:center;">
                <div class="ui-g-12">
                    <div class="ui-g-1">
                        <label for="name">{{'image-show-name' | translate }}</label>
                    </div>
                    <div class="ui-g-4">
                        <input pInputText id="name" [(ngModel)]="imageShow.name" required="true" style="width: 80%" />
                    </div>
                    <div class="ui-g-1">
                        <label for="type">{{'area' | translate }}</label>
                    </div>
                    <div class="ui-g-4">
                        <p-dropdown id="type" [options]="areas" [(ngModel)]="imageShow.area" required="true"
                            placeholder="Choose" appendTo="body" [style]="{'width':'80%'}">
                            <ng-template pTemplate="item" let-item>
                                {{item.value | translate}}
                            </ng-template>
                            <ng-template pTemplate="selectedItem" let-item>
                                {{item.value | translate}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <h4 style="margin-left: 15px;">{{'images' | translate}}:</h4>
            <div cdkDropList="showParts" cdkDropListOrientation="horizontal" class="example-list"
                (cdkDropListDropped)="onDrop($event)" cdkDropListConnectedTo="imageShow.showParts">
                <div class="example-box" *ngFor="let showPart of imageShow.showParts; index as i;" cdkDrag
                    [cdkDragData]="showPart">
                    <div style="display: grid;">
                        <div [style]=" showPart.active? null:{opacity: 0.5}  ">
                            <img [src]="getImage(showPart.showPartImage)" height="200px"
                                style="border-width: 1px; border-color: black; border-style: solid;">
                        </div>
                        <div style="text-align: center; margin-top: 5px; justify-content: space-evenly; display: flex;">
                            <button pButton pRipple type="button" icon="pi pi-search"
                                (click)="removeShowPart(i)"></button>
                            <button *ngIf="!showPart.active" pButton pRipple type="button" icon="pi pi-eye-slash"
                                style="background: orange;" (click)="showHide(showPart)"></button>
                            <button *ngIf="showPart.active" pButton pRipple type="button" icon="pi pi-eye"
                                style=" background: rgb(64, 255, 47);" (click)="showHide(showPart)"></button>
                            <button pButton pRipple type="button" icon="pi pi-times"
                                style="background: red; float: left;" (click)="removeShowPart(i)"></button>
                        </div>

                    </div>
                </div>
            </div>
            <div style="text-align: center; padding:15px;">
                <button label="{{ 'save' | translate}}" pButton pRipple type="button" icon="pi pi-check"
                    style="background: green; width: 50%; " (click)="save()"></button>
                <button label="{{ 'delete' | translate}}" pButton pRipple type="button" icon="pi pi-check"
                    style="background: red; width: 15%; margin-left: 15%;" (click)="delete()" *ngIf="id != 'new'"></button>
            </div>

        </div>

    </div>
</div>