<div class="p-m-2 p-card">
    <h1 class="p-text-center">Messages</h1>
    <div class="p-grid">
        <div class="p-inputgroup p-col p-m-2">
            <span class="p-inputgroup-addon">{{'message.send-message.message-text' | translate }}</span>
            <input type="text" pInputText [(ngModel)]="messageForArea"
                placeholder=" {{'message.send-message.choose-text' | translate }}" />
            <button type="button" pButton pRipple
                label="{{ (initalMessage == messageForArea ? 'message.send-message.clear' : 'message.send-message.send') | translate }}"
                styleClass="p-button-warn" (click)="sendMessage()" *ngIf="messageForArea"></button>
        </div>
    </div>
</div>