<p-toolbar *ngIf="showHeader">
    <div class="p-toolbar-group-left navigation-bar-container">
        <img src="assets/images/FCSF-Logo.png" height="40" class="image-logo">
        <span class="title-label">{{'header.title' | translate }}</span>
        <nav *ngIf="isAuthenticated" class="toolbar-navigation">
            <span *ngIf="areas.length> 0">
                <a  [class]="router.isActive('photoshow/areas', false)? 'active-link':''"
                    (click)="areamenu.toggle($event)">{{'header.areas' | translate }}</a>
                <p-menu #areamenu [popup]="true" [model]="areas"> </p-menu>
            </span>
            <span *ngIf="(authService.hasPrivileges(['WRITE_IMAGE_SHOW']))">
                <a [routerLink]="'photoshow/edit'" [class]="router.isActive('photoshow/edit', false)? 'active-link':''"
                    routerLinkActive="active-link">{{'header.image-shows' | translate }}</a>
            </span>
            <span *ngIf="(authService.hasPrivileges(['READ_MONITORS']))">
                <a [routerLink]="'photoshow/monitors'"
                    routerLinkActive="active-link">{{'header.monitors' | translate }}</a>
            </span>
            <!-- <span *ngIf="(authService.hasPrivileges(['WRITE_IMAGE_SHOW']))">
                <a [routerLink]="'photoshow/documents'"
                    routerLinkActive="active-link">{{'header.documents' | translate }}</a>
            </span> -->
            <span *ngIf="authService.hasPrivileges(['READ_USER', 'READ_USER'])">
                <a [class]="router.isActive('auth', false)? 'active-link':''"
                    (click)="adminmenu.toggle($event)">{{'header.administration' | translate }}</a>
                <p-menu #adminmenu [popup]="true" [model]="adminMenu"> </p-menu>
            </span>
        </nav>
    </div>

    <div class="p-toolbar-group-right navigation-bar-container">
        <nav *ngIf="isAuthenticated">
            <span>
                <a (click)="usermenu.toggle($event)" class="user-navigation">{{user.username }}</a>
                <p-menu #usermenu [popup]="true" [model]="userMenu"> </p-menu>
            </span>
        </nav>
        <p-button *ngIf="!isAuthenticated" label="{{'header.login' | translate}}" [routerLink]="'auth'"></p-button>
    </div>
</p-toolbar>
<p-toast></p-toast>