<div class="p-card p-fluid p-m-2 p-p-2">
    <div class="p-d-flex">
        <h2 class="p-ml-auto"> {{'auth.user-details.heading' | translate }} </h2>
        <p-button class="p-ml-auto" type="button" icon="pi pi-plus" (click)="newUser()"
            label="{{ 'auth.user-details.add' | translate }}">
        </p-button>
    </div>



    <div class="p-fluid p-grid">
        <div class="p-field p-grid p-col-12">
            <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "auth.user-details.username" | translate }}
            </label>
            <div class="p-col-12 p-md-10" id="name">
                <input type="text" pInputText [(ngModel)]="user.username"
                    placeholder=" {{'auth.user-details.choose-username' | translate }}" />
            </div>
        </div>

        <div class="p-field p-grid p-col-12">
            <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "auth.user-details.email" | translate }}
            </label>
            <div class="p-col-12 p-md-10" id="email">
                <input type="text" pInputText [(ngModel)]="user.email"
                    placeholder=" {{'auth.user-details.choose-email' | translate }}" />
            </div>
        </div>

        <div class="p-field p-grid p-col-12" *ngIf="isNew">
            <label for="password" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "auth.user-details.password" | translate }}
            </label>
            <div class="p-inputgroup p-col-12 p-md-10" id="password">
                <input #password pInputText id="password" type="password" [(ngModel)]="user.password"
                    placeholder=" {{'auth.user-details.choose-password' | translate }}" />
                <p-button styleClass="p-button-warning" icon="pi pi-eye"
                    (click)="password.type=password.type=='password'?'text':'password'"></p-button>
            </div>
        </div>

        <div class="p-field p-grid p-col-12">
            <label for="roles" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "auth.user-details.roles" | translate }}
            </label>
            <div class="p-col-12 p-md-10" id="roles">
                <p-multiSelect [options]="roles" [(ngModel)]="user.roles"
                    defaultLabel="{{ 'auth.user-details.choose-roles' | translate }}"></p-multiSelect>
            </div>
        </div>

        <div class="p-field p-grid p-col-12">
            <label for="roles" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "auth.user-details.areas" | translate }}
            </label>
            <div class="p-col-12 p-md-10" id="roles">
                <p-multiSelect [options]="areas" [(ngModel)]="user.areas"
                    defaultLabel="{{ 'auth.user-details.choose-areas' | translate }}" [filter]="false">
                    <ng-template let-areas pTemplate="selectedItems">
                        <span *ngFor="let area of areas"> {{area | translate}} </span>
                        <div *ngIf="!areas || areas.length === 0">
                            {{'auth.user-details.choose-areas' | translate }}
                        </div>
                    </ng-template>

                    <ng-template pTemplate="item" let-area>
                        {{area.value | translate}}
                    </ng-template>
                </p-multiSelect>
            </div>
        </div>
        <p-message *ngIf="errorMessage" class="p-field p-grid p-col-12 p-jc-center" severity="error"
            text="{{ errorMessage | translate }}">
        </p-message>


        <div class="p-field p-col-12">
            <div class="p-d-flex p-jc-evenly">
                <p-button type="button" icon="pi pi-times" (click)="delete()" pRipple
                    label="{{ 'auth.user-details.delete' | translate }}" *ngIf="!isNew" styleClass="p-button-danger">
                </p-button>
                <p-button pRipple type="button" icon="pi pi-check" styleClass="p-button-success" (click)="save()"
                    label="{{ 'auth.user-details.save' | translate }}">
                </p-button>
            </div>
        </div>
    </div>
</div>