<div style="text-align: center; margin: 15px;">
    <div style="display: flex; justify-content: center; position: relative;">
        <h3>{{'user' | translate }}</h3>
        <button type="button" pButton icon="pi pi-plus" (click)="newUser()" label="{{ 'add' | translate }}"
            style="position: absolute; right: 15px;"></button>
    </div>
    <div class="card" style="margin: 15px;" *ngIf="user">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <label class="p-inputgroup-addon" for="name">{{'username' | translate }}</label>
                    <input pInputText id="name" [(ngModel)]="user.username" />
                </div>
            </div>

            <div class="p-col-12">
                <!-- <div class="p-inputgroup"> -->
                    <span for="email" class="p-inputgroup-addon p-md-4">{{'email' | translate }}</span>
                    <input pInputText  id="email" class="p-md-8" [(ngModel)]="user.email" />
                <!-- </div> -->
            </div>

            <div class="p-g-12">
                <div class="p-g-4">
                    <label for="email">{{'email' | translate }}</label>
                </div>
                <div class="p-g-8">
                    <input pInputText id="email" [(ngModel)]="user.email" style="width: 100%;" />
                </div>
            </div>
            <div class="p-g-12" *ngIf="isNew">
                <div class="p-g-4">
                    <label for="password">{{'password' | translate }}</label>
                </div>
                <div class="p-g-8">
                    <div class="p-inputgroup">
                        <input pInputText id="password" #password type="password" [(ngModel)]="user.password"
                            style="width: 95%;" />
                        <button pButton class="p-button-warning" style="width: 5%;"
                            (click)="password.type=password.type=='password'?'text':'password'"
                            icon="pi pi-eye"></button>
                    </div>
                </div>
            </div>
            <div class="p-g-12">
                <div class="p-g-4">
                    <label for="privileges">{{'roles' | translate }}</label>
                </div>
                <div class="p-g-8">
                    <p-multiSelect [options]="roles" [(ngModel)]="user.roles"
                        defaultLabel="{{ 'select-roles' | translate }}"></p-multiSelect>
                </div>
            </div>
            <div class="p-g-12">
                <div class="p-g-4">
                    <label for="privileges">{{'areas' | translate }}</label>
                </div>
                <div class="p-g-8">
                    <p-multiSelect [options]="areas" [(ngModel)]="user.areas"
                        defaultLabel="{{ 'select-areas' | translate }}" [filter]="false">
                        <ng-template let-areas pTemplate="selectedItems">
                            <span *ngFor="let area of areas"> {{area | translate}} </span>
                            <div *ngIf="!areas || areas.length === 0">
                                {{'select-areas' | translate }}
                            </div>
                        </ng-template>

                        <ng-template pTemplate="item" let-area>
                            {{area.value | translate}}
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>
            <div class="p-g-12">
                <div class="alert alert-danger" style="width: 100%; text-align: center; margin-top: 5px;" role="alert"
                    *ngIf="errorMessage">
                    <div>{{ errorMessage | translate }}</div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="p-dialog-buttonpane p-helper-clearfix">
                <button type="button" pButton icon="pi pi-times" (click)="delete()" label="{{ 'delete' | translate }}"
                    style="margin-right: 15px;" *ngIf="!isNew"></button>
                <button type="button" pButton icon="pi pi-check" (click)="save()"
                    label="{{ 'save' | translate }}"></button>
            </div>
        </p-footer>
    </div>
</div>