<p-dialog header="{{ 'document.upload.header' | translate }}" [(visible)]="displayDialog" showEffect="fade"
    [modal]="true">
    <div class="p-fluid" *ngIf="document" [style.display]="uploading ? 'none' : ''">

        <div class="p-grid p-field  p-jc-center">
            <label for="area" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "document.upload.area" | translate }}
            </label>
            <div *ngIf="areas.length > 0 && !area" class="p-col-12 p-md-10">
                <p-dropdown id="area" [options]="areas" [(ngModel)]="document.area"
                    placeholder="{{'document.upload.choose-area' | translate}}" appendTo="body">
                    <ng-template pTemplate="selectedItem" let-item>
                        {{item.value | translate}}
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                        {{item.value | translate}}
                    </ng-template>
                </p-dropdown>
            </div>
            <div *ngIf="area" class="p-col-12 p-md-10">
                <p>{{area| translate}}</p>
            </div>
        </div>


        <div class="p-grid p-field">
            <label for="file" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "document.upload.file" | translate }}
            </label>
            <div class="p-col-12 p-md-10">
                <p-fileUpload mode="basic" #fileUpload accept=".pdf" [showCancelButton]="false"
                    [showUploadButton]="false" chooseLabel="{{'document.upload.choose-file' | translate}}"
                    [customUpload]="true">
                    <ng-template let-file pTemplate="file">
                        <div>Custom UI to display a file</div>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>
        <p-messages *ngIf="errorMessage" severity="error" class="p-col">
            <ng-template pTemplate>
                <div class="p-ml-2">{{errorMessage | translate}}</div>
            </ng-template>
        </p-messages>
    </div>
    <div *ngIf="uploading" class="p-flex p-text-center ">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <p-footer>
        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="close()"
                label="{{ 'document.upload.cancel' | translate }}"></button>
            <button type="button" pButton icon="pi pi-check" (click)="upload()"
                label="{{ 'document.upload.upload' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>