.grid-container {
    display: grid;
    gap: .5rem;

    grid-template-areas: 
            "image-list edit-show";
    grid-template-columns: repeat(3, minmax(500px, 1fr));

    .image-list {
        grid-area: image-list;
    }

    .edit-show {
        grid-area: edit-show;
        width: 100%;
    }
}