.digits {
    font-size: 5rem;
    font-size: 4vw;
    margin: 1vw;
}

.clock-message {
    font-size: 3rem;
    margin-top: 1rem;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

