<p-dialog header="{{ 'image-show.upload.header' | translate }}" [(visible)]="displayDialog" showEffect="fade"
    [modal]="true">
    <div class="p-fluid" *ngIf="imageShow" [style.display]="uploading ? 'none' : ''">


        <div class="p-grid p-field">
            <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "image-show.upload.name" | translate }}
            </label>
            <div class="p-col-12 p-md-10">
                <input type="text" pInputText id="name" [(ngModel)]="imageShow.name" />
            </div>
        </div>
        <div class="p-grid p-field" *ngIf="!area">
            <label for="area" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "image-show.upload.area" | translate }}
            </label>
            <div class="p-col-12 p-md-10">
                <p-dropdown id="area" [options]="areas" [(ngModel)]="imageShow.area"
                    placeholder="{{'image-show.upload.choose-area' | translate}}" appendTo="body">
                    <ng-template pTemplate="item" let-item>
                        {{item.value | translate}}
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-item>
                        {{item.value | translate}}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="p-grid p-field">
            <label for="file" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                {{ "image-show.upload.area" | translate }}
            </label>
            <div class="p-col-12 p-md-10">
                <p-fileUpload mode="basic" #fileUpload accept=".pdf" [showCancelButton]="false"
                    [showUploadButton]="false" chooseLabel="{{'choose' | translate}}" [customUpload]="true">
                </p-fileUpload>
            </div>
        </div>
        <p-messages *ngIf="errorMessage" severity="error" class="p-col">
            <ng-template pTemplate>
                <div class="p-ml-2">{{errorMessage | translate}}</div>
            </ng-template>
        </p-messages>
    </div>
    <div *ngIf="uploading" class="p-flex p-text-center ">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <p-footer>
        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="close()"
                label="{{ 'cancel' | translate }}"></button>
            <button type="button" pButton icon="pi pi-check" (click)="upload()"
                label="{{ 'upload' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>