<div style="text-align: center; margin: 15px;">
    <div style="display: flex; justify-content: center; position: relative;">
        <h3>{{'role' | translate }}</h3>
        <button type="button" pButton icon="pi pi-plus" (click)="newRole()" label="{{ 'add' | translate }}"
            style="position: absolute; right: 15px;"></button>
    </div>
    <div class="card" style="margin: 15px;" *ngIf="role">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="name">{{'name' | translate }}</label>
                </div>
                <div class="p-col-8" style="width: 100%;">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon" style="width: 15%;">ROLE_</span>
                        <input type="text" [(ngModel)]="role.name" pInputText
                            style="width: 85%; text-transform: uppercase;">
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="privileges">{{'privileges' | translate }}</label>
                </div>
                <div class="ui-g-8">
                    <p-multiSelect [options]="privileges" [(ngModel)]="role.privileges" defaultLabel="{{ 'select-privileges' | translate }}"></p-multiSelect>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="alert alert-danger" style="width: 100%; text-align: center; margin-top: 5px;" role="alert"
                    *ngIf="errorMessage">
                    <div>{{ errorMessage | translate }}</div>
                </div>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-times" (click)="delete()" label="{{ 'delete' | translate }}"
                    style="margin-right: 15px;" *ngIf="!isNew"></button>
                <button type="button" pButton icon="pi pi-check" (click)="save()"
                    label="{{ 'save' | translate }}"></button>
            </div>
        </p-footer>
    </div>
</div>