<p-dialog header="{{ 'upload-image-show' | translate }}" [(visible)]="displayDialog" showEffect="fade" [modal]="true"
    [style]="{width: '50vw'}">
    <div class="p-grid ui-fluid" *ngIf="imageShow && !uploading">
        <div class="p-col-4">
            <label for="name">{{'image-show-name' | translate }}</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="name" [(ngModel)]="imageShow.name" required="true" style="width: 100%;" />
        </div>
        <ng-container *ngIf="areas.length > 0">
            <div class="ui-g-4">
                <label for="area">{{'area' | translate }}</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown id="area" [options]="areas" [(ngModel)]="imageShow.area" placeholder="Choose"
                    appendTo="body">
                    <ng-template pTemplate="item" let-item>
                        {{item.value | translate}}
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-item>
                        {{item.value | translate}}
                    </ng-template>
                </p-dropdown>
            </div>
        </ng-container>

        <div class="p-col-4">
            <label for="name">{{'upload-file' | translate }}</label>
        </div>
        <div class="p-col-8">
            <p-fileUpload mode="basic" #fileUpload accept=".pdf" [showCancelButton]="false" [showUploadButton]="false"
                chooseLabel="{{'choose' | translate}}" [customUpload]="true"></p-fileUpload>
        </div>
        <div class="alert alert-danger" style="width: 100%; text-align: center; margin-top: 5px;" role="alert"
            *ngIf="errorMessage">
            <div>{{ errorMessage | translate }}</div>
        </div>
    </div>
    <div *ngIf="uploading"
        style="height:120px;width: 120;text-align-last: center; display: flex;justify-content: center;">
        <mat-progress-spinner mode="indeterminate" [color]="'warn'"></mat-progress-spinner>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="close()"
                label="{{ 'cancel' | translate }}"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()"
                label="{{ 'upload' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>