<div style="text-align: center; margin: 15px;">
    <h3 >{{'roles' | translate }}</h3>
    <p-table [value]="roles" selectionMode="single" [(selection)]="selectedRole"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'role' | translate }}</th>
                <th>{{'privileges' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr [pSelectableRow]="role">
                <td>{{role.name}}</td>
                <td>{{role.privileges.length ?(role.privileges.length  > 4 ? role.privileges.length  : getPrivileges(role)): 'no-privileges' | translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>