<div style="text-align: center; margin: 15px;">
    <h1>{{'substituitions' | translate }}</h1>
    <p-table [value]="imageShows" selectionMode="single" [(selection)]="selectedImageShow"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="'name'">
                    {{'image-show-name' | translate }}
                <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'date'">
                    {{'date' | translate }}
                <p-sortIcon [field]="'date'"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td>
                    {{rowData['name']}}
                </td>
                <td>
                    {{getDateString(rowData['date'])}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="{{ 'add' | translate }}"></button>
            </div>
        </ng-template>
    </p-table>

    <p-dialog header="{{ 'image-show-details' | translate }}" [(visible)]="displayDialog" [focusOnShow]="false"
        showEffect="fade" [modal]="true" [style]="{width: '50vw'}">
        <div class="p-grid ui-fluid" *ngIf="imageShow">
            <div class="p-col-4">
                <label for="name">{{'image-show-name' | translate }}</label>
            </div>
            <div class="p-col-8">
                <input pInputText id="name" [(ngModel)]="imageShow.name" required="true" style="width: 100%;"
                    [disabled]="!newImageShow" />
            </div>
            <div class="p-col-4">
                <label for="date">{{'date' | translate }}</label>
            </div>
            <div class="p-col-8">
                <p-calendar [(ngModel)]="imageShow.date" required="true" appendTo="body" [disabled]="!newImageShow">
                </p-calendar>
            </div>
            <ng-container *ngIf="newImageShow">
                <div class="p-col-4">
                    <label for="name">{{'upload-file' | translate }}</label>
                </div>
                <div class="p-col-8">
                    <p-fileUpload 
                        required="true" 
                        #fileUpload 
                        accept=".pdf"
                        [showCancelButton]="false"
                        [showUploadButton]="false" 
                        chooseLabel = "{{'choose' | translate }}"
                        ></p-fileUpload>
                </div>
                <div class="p-col-4">
                    <label for="upadteMonitors">{{'update-substituition-monitors' | translate }}</label>
                </div>
                <div class="p-col-8">
                    <p-checkbox name="upadteMonitors" [(ngModel)]="updateSubMonitor" binary="true"></p-checkbox>
                </div>
            </ng-container>
            <ng-container *ngIf="!newImageShow">
                <div class="p-col-4">
                    <label for="name">{{'image-show' | translate }}</label>
                </div>
                <div class="p-col-8">
                    <button pButton type="button" (click)="showImages()"
                        [label]="displayImages? ('hide-image-show' | translate) : 'show-image-show' | translate "></button>
                </div>
            </ng-container>
            <div class="alert alert-danger" style="width: 100%; text-align: center; margin-top: 5px;" role="alert"
                *ngIf="errorMessage">
                <div>{{ errorMessage | translate }}</div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button *ngIf="!newImageShow" type="button" pButton icon="pi pi-times" (click)="delete()"
                    label="{{ 'delete' | translate }}"></button>
                <button *ngIf="!newImageShow" type="button" pButton icon="pi pi-check" (click)="close()"
                    label="{{ 'close' | translate }}"></button>
                <button *ngIf="newImageShow" type="button" pButton icon="pi pi-check" (click)="save()"
                    label="{{ 'save' | translate }}"></button>
            </div>
        </p-footer>


    </p-dialog>

    <p-dialog header="{{ 'images' | translate }}" [(visible)]="displayImages">
        <p-carousel [value]="imageShowParts" [numVisible]="imageShowParts.length<4?imageShowParts.length:4"
            appendTo="body">
            <ng-template let-showPart pTemplate="item">
                <div style="text-align: center;">
                    <img [src]="getImage(showPart)" [height]="250">
                </div>
            </ng-template>
        </p-carousel>
    </p-dialog>
</div>