/* You can add global styles to this file, and also import other style files */

@import "./variables.scss";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    &,
    &:visited {
        color: $secondary-color;
    }

    &:hover {
        color: $secondary-color;
    }

    &.active-link,
    &:active {
        color: $primary-color;
    }
}

.p-menuitem-link-active {
    background-color: rgba($secondary-color, 0.5);
}

.p-card.login-card {
    background-color: rgba($secondary-color, 0.25);
}

.p-card.image-card {
    background-color: rgba($secondary-color, 0.05);
    min-height: 250px;
    overflow: auto;
}

.p-button {
    background-color: $secondary-color;
}

.p-dialog {
    width: 50vw;
}

.p-datatable tbody td {
    border: 0 none;
}

.p-inputnumber-input {
    width: 74% !important;
    &.indevidualDisplayTime {
        width: 1.5rem !important;
        background: transparent;
        padding: 0.1rem;
        border: 0ch;
    }
}
.clock-dialog {
    .p-dialog .p-dialog-content {
        padding: 1rem;
        border-radius: 15px;
        overflow-y: inherit;
        font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
        background-color: rgba($secondary-color, 0.25);
        color: $secondary-color;
    }
}
