
.monitor-card-background-green {
    background-color: rgba(32, 145, 32, 0.25);
    border-style: solid;
    border-color: rgba(32, 145, 32, 0.75);
}

.monitor-card-background-red {
    background-color: rgba(255, 0, 0, 0.25);
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.75);
}
